@using TimeTracker.Models
@model IEnumerable<TimeTracker.Models.ProjectTask>
@{
    ViewBag.Title = "Home Page";
}

@foreach (var task in Model)
{
    <div class="col-md-3">@task.projectName</div>
    <div class="col-md-3">@task.clientRep</div>
    <div class="col-md-2">@task.startDate</div>
    <div class="col-md-2">@task.leadTime</div>
    <div class="col-md-2">@task.status</div>
}
